#set($dollarSign="$")
#if ($input.type.toUpperCase() == "TEXT")
<?php echo form_input(array('name'=>'${input.id}', 'id'=>'${input.id}', 'value'=>set_value('${input.id}'))); ?>
#elseif ($input.type.toUpperCase() == "PASSWORD")
<?php echo form_password(array('name'=>'${input.id}', 'id'=>'${input.id}', 'value'=>set_value('${input.id}'))); ?>
#elseif ($input.type.toUpperCase() == "TEXTAREA")
<?php echo form_textarea(array('name'=>'${input.id}', 'id'=>'${input.id}', 'value'=>set_value('${input.id}'))); ?>
#elseif ($input.type.toUpperCase() == "RADIO")
    #foreach($key in $input.allowedValues.keySet())
    <div class="option"><?php echo form_radio(array('name'=>'${input.id}', 'id'=>'${input.id}:${key}', 'value'=>'${key}'#if ($input.defaultValue == $key), 'checked'=>'checked'#end)); ?><?php echo form_label('${input.allowedValues.get($key)}', '${input.id}:${key}'); ?></div>
    #end
#elseif ($input.type.toUpperCase() == "DROPDOWN")
<?php 
    ${dollarSign}${input.id}Options = array();
    #foreach($key in $input.allowedValues.keySet())
        ${dollarSign}${input.id}Options['${key}'] = '${input.allowedValues.get($key)}';
    #end
    echo form_dropdown('${input.id}', ${dollarSign}${input.id}Options#if ($input.defaultValue), '${input.defaultValue}'#end);
?>
#elseif ($input.type.toUpperCase() == "CHECKBOX")
    #foreach($key in $input.allowedValues.keySet())
    <div class="option"><?php echo form_checkbox(array('name'=>'${input.id}', 'id'=>'${input.id}:${key}', 'value'=>'${key}'#if ($input.defaultValue == $key), 'checked'=>'checked'#end)); ?><?php echo form_label('${input.allowedValues.get($key)}', '${input.id}:${key}'); ?></div>
    #end
#else
I don't know what to do with ${input.type}.
#end