#set ($key = $outcome.key)
	function _${outcome.id}Outcome() {
#if ($outcome.negative)
		$messageClass = 'failure';
#else
		$messageClass = 'success';
#end
#if ($outcome.message)
		$this->session->set_flashdata('message', array('class' => $messageClass, 'text' => $this->lang->line('${appspec.id}_${page.id}_${key}_${outcome.id}_message')));
#end
#foreach ($email in $outcome.emails)
		$this->_send${email.name}();
#end
#if ($outcome.loginSuccessfulOutcome)
		// Mark session as logged in
		$this->session->set_userdata('username', $this->input->post('${form.loginUsernameInput.id}'));
		// Redirect user to secure page he was trying to access, if applicable
		$referer = $this->session->flashdata('referer');
		if (!empty($referer)) {
			redirect($referer);
		}
#end
#if ($outcome.isInternal())
		redirect('/${outcome.pageRef}'$!{context.get($outcome).queryString});
#else
		redirect('${outcome.href}');
#end
	}